header {
  background-color: #dfb200;
  border-radius: 0 0 10px 10px;
  width: 80%;
  margin-left: 10%;
}

.cart-container {
  display: flex;
  justify-content: flex-end;
}

.header-icon,
.cart-container img,
.logo {
  width: auto;
  height: auto;
  max-height: 70px;
}
