.logo-container .logo {
  max-width: 100%;
  height: auto;
}

.cart-container {
  max-width: 100%;
  height: auto;
  position: relative;
}

header {
  background-color: #dfb200;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.nav-link {
  color: white;
  margin: 0px 30px;
  font-weight: bold;
}
