#maincontent {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content, if needed */
  min-height: 64vh;
}
