#maincontent {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content, if needed */
  min-height: 70vh;
}

body {
  background-color: #fcf7f1;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
